@media(max-width: 575px){
    .navbar{
        position: static;
    }
    .navbar a{
        width: 100%;
        padding: 20px 0s;
    }
    .header{
        padding: 100px 100px;
        margin-top: 0;
        background-size: cover;
        background-position: center center;
    }
}